.loading {
  max-width: 800px;
  margin: 14px auto;
}
.list-movies {
  max-width: 800px;
  margin: 14px auto;
}

.list-movies article {
  width: 100%;
  background-color: #fff;
  padding: 15px;
  border-radius: 14px;
}

.list-movies strong {
  margin-bottom: 14px;
  text-align: center;
  font-size: 22px;
  display: block;
}

.list-movies img {
  width: 900px;
  max-width: 100%;
  max-height: 340px;
  object-fit: cover;
  display: block;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.list-movies a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  font-size: 24px;
  background-color: #116feb;
  text-decoration: none;
  color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}