.movie-info {
  margin: 0 auto;
  margin-top: 18px;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 0 8px;
}
.movie-info h1 {
  margin: 14px 0;
}
.movie-info img {
  border-radius: 8px;
  width: 900px;
  max-width: 100%;
  max-height: 340px;
  object-fit: cover;
}
.movie-info h3{
  margin-top: 14px;
}
.movie-info span {
  margin: 8px 0;
}
.area-buttons button {
  margin-right: 12px;
  margin-top: 14px;
  margin-left: 0;
  font-size: 20px;
  border: 0;
  outline: none;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s;
}
.area-buttons button:hover {
  background-color: brown;
  color: #fff;
}
.area-buttons button:hover > a {
  color: #fff;
}
.area-buttons a {
  text-decoration: none;
  color: #000;
  transition: all 0.5s;
}